*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.nav{
    background-color: #baf8e9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.navbar {
    height: 75px;
    width:30%;
    color: #c46ee6;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    margin-bottom: 10px;
}

.button {
    color: #c46ee6;
    background-color: #F9F871;
    font-family: 'Prompt', sans-serif;
    border-color: #CCF27F;
    margin-left: 15px;
    cursor: pointer;
}
.fondo{
    height: 80px;
    width: 200px;
    border-radius: 50%;
}